@charset "UTF-8";

/* Estilo para tela */

* {
    padding: 0px;
    margin: 0px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: lightgrey;
}
header h1 {
    text-align: center;
}
menu ul {
    list-style-type: none;
    background-color: rgb(139, 139, 139);

}

article {
    display: block;
    width: 600px;
    margin: auto;
    line-height: 1.3em;
    text-indent: 8px;
    
}
menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    color: white;
}