@charset "UTC-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-image: linear-gradient( to right, #03CEA4,#eec11f83, #345995 );
}
main {
    background-color: #03cea5b7;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #dd0f54d0 ;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
p {
    text-align: justify;
    text-shadow: 1px 1px 3px #FB4D3D;
}
h1 {
    color: #345995;
    text-align: center;
    text-shadow: 1px 1px 0;
}

h2 {
    color: #9c271c;
    text-align: center;
    text-shadow: 1px 1px 0;
}

